.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

#btn {
  background: #cc0000;
  background: linear-gradient(#cc0000, #610000);
  border-radius: 1.1rem;
  padding: 2.0rem 4.5rem;
  color: #ffffff;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 2rem;
  border: 0;
}

#btn:active{
  background: linear-gradient(#610000, #cc0000);
}

body {
  background-color: #393E46;
}

h1 {
  margin: 3rem;
  font-family: 'Lobster', cursive;
  text-shadow: .5rem 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media screen and (max-width: 600px) {
  img{
    width: 40%;
    align-self: center;
    margin: 1rem;
    padding: 1rem;
  }
  .dice{
    display: flex;
  }
  #btn{
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  h1{
    font-size: 2.5rem;
    text-shadow: .05rem 0 #232931;
  }
}